<!-- Template of a Material Design card -->
<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--8dp">
        <div class="mdl-card__title">
            <img data-ui-field="image" src="app/content/docs/examples/images/card_placeholder.jpg" class="portrait">
            <h1 data-ui-field="title" class="mdl-card__title-text mdl-color-text--white">Card title</h1>
        </div>
        <div data-ui-field="text" class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam accusamus, consectetur.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a data-ui-field="link_read" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Open</a>
        </div>
    </div>
</div>
